+++
title = "KUSTO 100+ knocks"
linkTitle = "KUSTO 100+ knocks"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="{{< relref "/docs" >}}">
       Get started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5"></p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
KUSTO 100+ knocks has a lot of KUSTO queries. Our aim is to make sure that all Azure users can take advantage of Azure's monitoring and analytics infrastructure.
{{% /blocks/lead %}}


<style>
.row {justify-content: center;}
#td-cover-block-0{padding-top:min(100vh,75%)}
.td-cover-block--height-full{min-height:auto}
.container.td-overlay__inner{position:absolute;top:10vh}
.btn-warning{background:linear-gradient(180deg,#ff6600,#e31e0a)repeat-x;border-color:#e31e0a;position:relative;overflow:hidden;}
.btn-warning:before{content:'';position:absolute;top:0;left:-75%;width:50%;height:100%;background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);transform:skewX(-25deg);}
.btn-warning:hover:before {animation:shine 0.7s;}
.btn-warning:hover{color: #fff;background:linear-gradient(180deg,#ff6600,#e31e0a)repeat-x;border-color:#e31e0a;}
@keyframes shine{100% {left: 125%;}
</style>
{{< blocks/section color="white" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Azure/fta-kusto100knocks/" %}}
{{% /blocks/feature %}}

{{% blocks/feature %}}
This site use Google Analytics.
{{% /blocks/feature %}}

{{< /blocks/section >}}
